.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6.2rem;

  position: relative;

  margin: 9rem 0 7rem;
  min-width: 32.8rem;
  width: 32.8rem;

  @media screen and (min-width: $breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    margin: 0 2rem;
    width: 111rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    min-height: 100vh;

    @media screen and (min-width: $breakpoint) {
      align-items: center;
    }
  }

  &__txt-col {
    @media screen and (min-width: $breakpoint) {
      max-width: 50rem;
    }
  }

  &__signup-col {
    @media screen and (min-width: $breakpoint) {
      width: 54rem;
    }
  }
}
