.offer {
    @include font(1.54rem, $regular);
    color: $white;
    line-height: 1.65;

    @media screen and (min-width: $breakpoint) {
        font-size: 1.53rem;
    }

    &__wrapper {
        margin-bottom: 2.4rem;
        padding: 2rem 8rem 1.7rem;
        width: 100%;

        text-align: center;

        border: none;
        border-radius: 1rem;
        background-color: $blue;
        box-shadow: 0 .7rem $box-shadow-black;

        @media screen and (min-width: $breakpoint) {
            padding-bottom: 1.5rem;
        }
    }

    &--emph {
        font-weight: $bold;
    }
}