@import "vars";

// Base styles

html {
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
  margin-top: 0;
}

// TODO: add background
body {
  margin: 0;
  background: {
    image: url("./images/bg-intro-mobile.png");
    position: center top;
    size: auto;
    repeat: no-repeat;
    color: $salmon;
  }

  @media screen and (min-width: $breakpoint) {
    background-image: url("./images/bg-intro-desktop.png");
  }
}

// Layout styles

@import "container-flex";

// Blocks

@import "introduction";
@import "offer";
@import "signup-form";
@import "attribution";
