html {
    font-size: 62.5%;
}

* > * {
    box-sizing: border-box;
    margin-top: 0;
}

$breakpoint: 768px;

$font-stack: 'Poppins', sans-serif;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

body {
    margin: 0;
    background-color: yellow;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width: 37.5rem;

    @media screen and (min-width: $breakpoint) {
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        height: 100vh;
    }
    
    &__wrapper {
        display: flex;
		justify-content: center;
		align-items: center;
    }
    
    &__txt-col {
        @media screen and (min-width: $breakpoint) {
			max-width: 50rem;
		}
    }
    
    &__form-col {
        @media screen and (min-width: $breakpoint) {
			max-width: 50rem;
		}
	}
}

.txt-primary {
    text-align: center;

    @media screen and (min-width: $breakpoint) {
        text-align: left;
    }
}

.txt-secondary {
    text-align: center;

    @media screen and (min-width: $breakpoint) {
        text-align: left;
    }
}

.call-to-action {
    font-size: 1.5rem;
    color: white;

    &__wrapper {
        margin-bottom: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        text-align: center;
        border: none;
        border-radius: 1rem;
        background-color: purple;
    }

    &--emph {
        font-weight: bold;
    }
}

.signup-form {
    padding: 2rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;

	&__field {
		margin-bottom: 1rem;
	}
	
    &__input-container-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-bottom: 2rem;
        padding: 1rem 2rem;
        border: 1px solid black;
        border-radius: 1rem;
    }

    &__input {
        width: 100%;
        border: none;
        background: none;
    }

    &__err-icon {
        display: none;
        width: 2.4rem;
        height: auto;

        &--on-err {
            display: block;
        }
    }

    &__err-msg-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    
    &__err-msg {
        display: none;
        color: red;
        
        &--on-err {
            display: block;
        }
    }

    &__submit-btn {
        margin-bottom: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        border: none;
        border-radius: 1rem;
        color: white;
        // box-shadow: 0 1rem darkgreen;
        background-color: green;
    }
    
    &__terms-wrapper {}
    
    &__terms {
    
      &--emph {}
    }
    
}

// Footer

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228 45% 44%);
}
