html {
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 0;
  background-color: hsl(0, 100%, 74%);
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6.2rem;
  margin: 9rem 0 7rem;
  min-width: 32.8rem;
  width: 32.8rem;
}
@media screen and (min-width: 962px) {
  .container-flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
    width: 111rem;
  }
}
.container-flex__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
@media screen and (min-width: 962px) {
  .container-flex__wrapper {
    align-items: center;
  }
}
@media screen and (min-width: 962px) {
  .container-flex__txt-col {
    max-width: 50rem;
  }
}
@media screen and (min-width: 962px) {
  .container-flex__signup-col {
    width: 54rem;
  }
}

.introduction__heading {
  margin-bottom: 2.2rem;
  color: hsl(0, 100%, 100%);
  font-family: "Poppins", sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.31;
  text-align: center;
}
@media screen and (min-width: 962px) {
  .introduction__heading {
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 4.9rem;
    line-height: 1.1;
    text-align: left;
  }
}
.introduction__copy {
  margin-bottom: 0;
  color: hsl(0, 100%, 100%);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.64;
  text-align: center;
}
@media screen and (min-width: 962px) {
  .introduction__copy {
    font-size: 1.59rem;
    text-align: left;
  }
}

.offer {
  font-family: "Poppins", sans-serif;
  font-size: 1.54rem;
  font-weight: 400;
  color: hsl(0, 100%, 100%);
  line-height: 1.65;
}
@media screen and (min-width: 962px) {
  .offer {
    padding-bottom: 1.5rem;
    font-size: 1.53rem;
  }
}
.offer__wrapper {
  margin-bottom: 2.4rem;
  border: none;
  border-radius: 1rem;
  padding: 2rem 8rem 1.7rem;
  width: 100%;
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  box-shadow: 0 0.7rem hsla(0, 100%, 0%, 0.2);
}
@media screen and (min-width: 962px) {
  .offer__wrapper {
    padding-bottom: 1.5rem;
  }
}
.offer--emph {
  font-weight: 700;
}

.signup-form {
  padding: 2.4rem 2.5rem;
  width: 100%;
  border-radius: 1rem;
  background-color: hsl(0, 100%, 100%);
  box-shadow: 0 0.7rem hsla(0, 100%, 0%, 0.2);
}
@media screen and (min-width: 962px) {
  .signup-form {
    padding: 4.1rem;
  }
}
.signup-form__field {
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 962px) {
  .signup-form__field {
    margin-bottom: 2rem;
  }
}
.signup-form__input-container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid hsl(246, 25%, 77%);
  padding: 1.6rem 1.5rem 1.4rem;
  border-radius: 0.5rem;
}
@media screen and (min-width: 962px) {
  .signup-form__input-container-flex {
    padding: 1.6rem 2.5rem 1.5rem 2.9rem;
  }
}
.signup-form__input-container-flex--subfocus {
  border-color: hsl(0, 100%, 0%);
}
.signup-form__input-container-flex--on-err {
  border-color: hsl(0, 100%, 74%);
}
.signup-form__input {
  border: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.45rem;
  font-weight: 600;
}
@media screen and (min-width: 962px) {
  .signup-form__input {
    font-size: 1.43rem;
  }
}
.signup-form__input:focus-visible {
  outline: none;
}
.signup-form__input--on-err {
  color: hsl(0, 100%, 74%);
}
.signup-form__err-icon {
  display: none;
  width: 2.4rem;
  height: auto;
}
.signup-form__err-icon--on-err {
  display: block;
}
.signup-form__err-msg-wrapper {
  display: flex;
  justify-content: flex-end;
}
.signup-form__err-msg {
  display: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.07rem;
  font-weight: 400;
  font-style: italic;
  color: hsl(0, 100%, 74%);
}
.signup-form__err-msg--on-err {
  display: block;
  margin-top: 0.6rem;
  margin-bottom: -0.1rem;
}
.signup-form__submit-btn {
  margin-bottom: 1.1rem;
  padding-top: 1.6rem;
  padding-bottom: 1.2rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.62rem;
  font-weight: 600;
  color: hsl(0, 100%, 100%);
  letter-spacing: 0.03rem;
  border: none;
  border-radius: 0.5rem;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0 0.3rem hsl(153, 49%, 47%);
}
.signup-form__submit-btn:hover {
  background-color: hsla(154, 59%, 51%, 0.8);
  cursor: pointer;
}
.signup-form__submit-btn:focus-visible {
  outline: none;
  background-color: hsla(154, 59%, 51%, 0.8);
}
@media screen and (min-width: 962px) {
  .signup-form__submit-btn {
    margin-bottom: 1.5rem;
  }
}
.signup-form__terms-wrapper {
  padding: 0 1.5rem;
  text-align: center;
}
.signup-form__terms {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(246, 25%, 77%);
  line-height: 1.94;
}
.signup-form__terms--emph {
  font-weight: 600;
  color: hsl(0, 100%, 74%);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
