html {
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 0;
  background-color: salmon;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4.6rem;
  min-width: 32.8rem;
  width: 32.8rem;
}
@media screen and (min-width: 768px) {
  .container-flex {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    max-width: 111rem;
    width: auto;
  }
}
.container-flex__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 9.1rem 0 3.2rem;
}
@media screen and (min-width: 768px) {
  .container-flex__wrapper {
    align-items: center;
    margin: 0 1.6rem;
    min-height: 100vh;
  }
}
@media screen and (min-width: 768px) {
  .container-flex__txt-col {
    padding-top: 17.6rem;
    width: 51.3%;
  }
}
@media screen and (min-width: 768px) {
  .container-flex__form-col {
    width: 48.7%;
  }
}

.txt-primary {
  margin-bottom: 2.2rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2.72rem;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .txt-primary {
    margin-bottom: 3rem;
    font-size: 4.9rem;
    text-align: left;
    line-height: 1.1;
  }
}

.txt-secondary {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.58rem;
  font-weight: 600;
  line-height: 1.65;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .txt-secondary {
    font-size: 1.58rem;
    text-align: left;
  }
}

.call-to-action {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
  font-weight: 400;
  color: white;
  line-height: 1.65;
}
@media screen and (min-width: 768px) {
  .call-to-action {
    font-size: 1.53rem;
  }
}
.call-to-action__wrapper {
  margin-bottom: 2.4rem;
  padding: 2rem 5rem 1.7rem;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 1rem;
  background-color: hsl(248, 32%, 49%);
  box-shadow: 0 0.7rem rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .call-to-action__wrapper {
    padding-bottom: 1.5rem;
  }
}
.call-to-action--emph {
  font-weight: 700;
}

.signup-form {
  padding: 2.4rem 2.5rem 2.5rem;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0.7rem rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .signup-form {
    padding: 4.1rem;
  }
}
.signup-form__field {
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 768px) {
  .signup-form__field {
    margin-bottom: 2rem;
  }
}
.signup-form__input-container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.5rem 1.4rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .signup-form__input-container-flex {
    padding: 1.6rem 3rem 1.5rem;
  }
}
.signup-form__input-container-flex--on-err {
  border-color: hsl(0, 100%, 74%);
}
.signup-form__input {
  width: 100%;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.45rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .signup-form__input {
    font-size: 1.43rem;
  }
}
.signup-form__input--on-err {
  color: hsl(0, 100%, 74%);
}
.signup-form__err-icon {
  display: none;
  width: 2.4rem;
  height: auto;
}
.signup-form__err-icon--on-err {
  display: block;
}
.signup-form__err-msg-wrapper {
  display: flex;
  justify-content: flex-end;
}
.signup-form__err-msg {
  display: none;
  color: red;
}
.signup-form__err-msg--on-err {
  display: block;
}
.signup-form__submit-btn {
  margin-bottom: 1.1rem;
  padding-top: 1.6rem;
  padding-bottom: 1.2rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0 0.3rem rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .signup-form__submit-btn {
    margin-bottom: 1.5rem;
    font-size: 1.62rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
  }
}
.signup-form__terms-wrapper {
  padding: 0 1.5rem;
  text-align: center;
}
.signup-form__terms {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(246, 25%, 77%);
  line-height: 1.94;
}
.signup-form__terms--emph {
  font-weight: 600;
  color: hsl(0, 100%, 74%);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: url("./design/mobile-design.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url("./design/desktop-design.jpg");
  }
}

.container-flex__wrapper {
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .container-flex__wrapper {
    align-items: flex-start;
    margin-top: 12rem;
  }
}/*# sourceMappingURL=styles.css.map */